li,ul {
	list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

/*/ ilosc elementow w ul * szerokosc czyli 640*5=3200 */
ul {
    width: 3200px;
}

li {  
    
    list-style-type: none;
    float: left;
}

.container {
    text-align: center;
    padding: 10px 0 0 20px;
}

#carousel {
    text-align: center;
    margin-top: 1px;
	margin-bottom: 1px;
	max-width: 640px;
	max-height: 360px;
    border-style: solid;
    border-width: 2px;

    overflow-x: hidden;
    overflow-y: hidden;
}