* {
    margin: 0;
    padding: 0;
}

/*/ ilosc elementow w ul * szerokosc czyli 640*5=3200 */
ul {
    width: 3200px;
    list-style: none;
}

li {
    float: left;
}

.container {
    text-align: center;   
    margin: 50px auto;
    width: 50%;

}

#carousel {
    text-align: center;
    margin-top: 1px;
	margin-bottom: 1px;
	max-width: 640px;
	max-height: 360px;
    border: 3px solid blue;
    box-shadow: 10px 10px 5px #888888;

    overflow: hidden;
}